<div class="links">

	<a href="/">
		Home |
	</a>

	<a href="/parties">
		Show All Parties |
	</a>

	<a href="/users/login">
		Management Log-In
	</a>

	<form action="/sessions" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Log-Out">
	</form> 

</div>