<div class="main">
	<h1><span style="font-size:115px">The REST</span>aurant</h1>
		<p>
			<a href="/foods">Show Menu</a>
			<a href="/foods/new">Add Item</a>
			<a href="/parties">Show All Parties</a>
			<a href="/parties/new">Add Party</a>
		</p>
</div>
