<h1>Edit Menu</h1>
	<div class="links">
		<a href="/foods/new">Add Item</a>
	</div>

<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="food[food_name]" placeholder="Edit Food">
	<input type="integer" name="food[price]" placeholder="Edit Price">
	<input type="submit">
</form>

