<h1>Add Food Item</h1>
	<div class="links">
		<a href="/">Home |</a>
		<a href="/foods">Menu</a>
	</div>

	<div class="menu">
		<form action="/foods" method="post">
			<input type="text" name="food[food_name]" placeholder="Enter Food">
			<input type="integer" name="food[price]" placeholder="Enter Price">
			<input type="submit">
		</form>
	</div>

<%if @errors %>
	<% @errors.each do |error| %>
			<%= error %>
	<% end %>
<% end %>


