<h2>Add Food Item</h2>

<form action="/foods" method="post">
	<input type="text" name="food[food_name]" placeholder="Enter Food">
	<input type="integer" name="food[price]" placeholder="Enter Price">
	<input type="submit">
</form>