
<ul>
	<%= @food.food_name %>
	<%= @food.price %>
</ul> 

<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" placeholder="Remove Food Item">
</form>

<a href="/">Home</a>
<a href="/foods">Show Menu</a>
<a href="/foods/new">Add Item</a>
<a href="/parties">Show All Parties</a>
<a href="/parties/new">Add Party</a>