
<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="party[name]" placeholder="Edit Party Name">
	<input type="integer" name="party[table_num]" placeholder="Edit Table Number">
	<input type="integer" name="party[party_size]" placeholder="Edit Party Size">
	<input type="text" name="party[paid]" placeholder="Yes/No">
	<input type="submit">
</form>

<a href="/">Home</a>
<a href="/foods">Show Menu</a>
<a href="/foods/new">Add Item</a>
<a href="/parties">Show All Parties</a>
<a href="/parties/new">Add Party</a>