<form action="/parties" method="post">
	<input type="text" name="party[name]" placeholder="Enter Name">
	<input type="integer" name="party[table_num]" placeholder="Enter Table Number">
	<input type="integer" name="party[party_size]" placeholder="Enter Party Size">
	<input type="submit">
</form>